---
layout: 'default'
title: 'Works'
permalink: '/works/'

---

<div class="works-list">
  {% for post in site.posts %}
    {% if post.categories contains 'works' %}
      {% cycle '<div class="row works">', '', '' %}
      <div class="col-sm-4">
        <a href="{{ post.url }}">
          <img src="{{ site.baseurl }}/images/works/{{ post.thumbnail }}" class="img-thumbnail">
          <h2 class="work-title">{{ post.title }} ({{ post.date | date: '%Y' }})</h2>
        </a>
      </div>
      {% cycle '', '', '</div><!-- row works -->' %}
    {% endif %}
  {% endfor %}
  {% cycle '', '</div>', '</div>' %}
</div>

<div>
  <a href="/">&lt;&lt; HOME</a>
</div>
